[submodule "zsh/sources/zsh-completions"]
	path = zsh/sources/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/sources/zsh-syntax-highlighting"]
	path = zsh/sources/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
