[submodule ".config/zsh/lib/zsh-completions"]
	path = .config/zsh/lib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/lib/zsh-syntax-highlighting"]
	path = .config/zsh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
